

body {
    font-family: sans-serif;
    background: #ddd;
}

#container {
    padding: 10px;
}

.item {
    width: 310px;
    float: left;
    margin: 0px;
    padding-bottom: 40px;
}

.item img {
  width: 100%;
}

.item.w2 {
}

.item.h2 {
}
